@import url(./variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--color-dark-06);
}

/* ===== HEADER ===== */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    margin: 0 120px;
    border-bottom: 2px dashed var(--color-dark-15);
}

.reset-button {
    border: none;
    background-color: transparent;
}

.reset-link {
    text-decoration: none;
    color: var(--color-abs-white);
}

.header-nav {
    display: flex;
    gap: 10px;
}

.header-nav-link {
    padding: 15px 25px;
    border: 1px dashed var(--color-dark-15);
    border-radius: 12px;
    color: var(--color-grey-70);
    font-size: 18px;
    font-weight: 500;
}

.header-nav-link:hover {
    background-color: var(--color-brown-60);
    border: 1px solid var(--color-brown-60);
    color: var(--color-dark-06);
}

.header-contact-link {
    padding: 15px 30px;
    border-radius: 12px;
    color: var(--color-dark-06);
    background-color: var(--color-brown-60);
    border: 1px solid var(--color-brown-60);
    font-size: 19px;
    font-weight: 500;
}

.header-contact-link:hover {
    background-color: var(--color-dark-06);
    border: 1px dashed var(--color-dark-15);
    color: var(--color-abs-white);
}

.active-header-nav-link,
.active-header-nav-link:hover {
    background-color: var(--color-dark-10);
    border: 1px solid var(--color-dark-10);
    color: var(--color-abs-white);
    font-size: 18px;
    font-weight: 500;
}

.header-logo h1 {
    color: var(--color-abs-white);
}

.header-logo h1 span {
    color: var(--color-brown-65);
}

/* ===== HEADER END ===== */

/* ===== FOOTER ===== */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 120px;
    border-top: 2px dashed var(--color-dark-15);
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 60px 0;
    width: 100%;
    border-bottom: 2px dashed var(--color-dark-15);
}

.footer-top-list,
.footer-top-subscribe {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-top-subscribe h3,
.footer-top-list h3 {
    color: var(--color-abs-white);
    font-size: 22px;
    font-weight: 500;
}

.footer-top-list ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.footer-top-list ul li {
    color: var(--color-grey-40);
    font-size: 20px;
    font-weight: 400;
}

.footer-top-list ul li:hover {
    color: var(--color-abs-white);
    cursor: pointer;
}


.subscribe-form {
    display: flex;
}

.subscribe-form input {
    padding: 15px 24px;
    border-radius: 12px 0 0 12px;
    border: none;
    outline: none;
    color: var(--color-grey-40);
    background-color: var(--color-dark-10);
    font-size: 16px;
}

.subscribe-form button {
    padding: 15px 24px;
    border-radius: 0 12px 12px 0;
    border: none;
    color: var(--color-abs-white);
    background-color: var(--color-dark-10);
}

.subscribe-form button:hover {
    cursor: pointer;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    width: 100%;
}

.footer-bottom-terms {
    display: flex;
    gap: 10px;
}

.footer-bottom-terms span,
.footer-bottom-rights p {
    color: var(--color-grey-50);
    font-size: 18px;
    font-weight: 400;
}

.footer-bottom-rights p:hover,
.footer-bottom-terms span:hover {
    color: var(--color-abs-white);
    cursor: pointer;
}

.footer-bottom-terms span:first-child {
    border-right: 2px solid var(--color-grey-50);
    padding-right: 10px;
}

/* ===== FOOTER END ===== */

/* ===== PRODUCTS ===== */
.products-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 100px 120px;
    border: 2px dashed var(--color-dark-15);
    border-radius: 20px;
}

.products-header {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    padding: 80px;
    width: 100%;
    border-bottom: 2px dashed var(--color-dark-15);
}

.products-header h1 {
    font-size: 48px;
    font-weight: 500;
    color: var(--color-abs-white);
}

.products-header p {
    font-size: 20px;
    font-weight: 400;
    color: var(--color-grey-40);
}


.products {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    padding: 30px;
    /* width: 100%; */
}

.product {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    width: 320px;
    padding: 20px;
    border-radius: 50px;
    border: 2px dashed var(--color-dark-15);
}

.product-img {
    width: 270px;
    height: 250px;
    /* object-fit: contain; */
    border-radius: 50px 50px 0px 0px;
}

.product-img img {
    width: 100%;
    height: 100%;
    border-radius: 50px 50px 0px 0px;
}

.product-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.product-buttons span {
    padding: 10px 25px;
    border-radius: 100px;
    border: 1px dashed var(--color-dark-15);
    background: var(--color-dark-10);
    color: var(--color-grey-70);
}

.product-buttons a {
    padding: 20px 25px;
    border-radius: 12px;
    border: 1px dashed var(--color-dark-25);
    background: var(--color-dark-12);
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.product-info h2 {
    font-size: 20px;
    font-weight: 500;
    color: var(--color-abs-white);
}

.product-info p {
    font-size: 20px;
    font-weight: 500;
    color: var(--color-grey-80);
}

/* ===== PRODUCTS END ===== */

/* ===== PRODUCT DETAILS ===== */
.product-detail-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 100px 120px;
}

.product-detail {
    display: flex;
    align-items: start;
    gap: 50px;
    padding: 40px;
    border: 2px dashed var(--color-dark-15);
    border-radius: 20px;
}

.product-detail-img {
    width: 60%;
    height: 700px;
    padding-right: 50px;
    border-right: 2px dashed var(--color-dark-15);
}

.product-detail-img img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.product-detail-info {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 50px;
}

.product-detail-info-header h1 {
    font-size: 48px;
    font-weight: 500;
    color: var(--color-abs-white);
}

.product-detail-info-header {
    display: flex;
    flex-direction: column;
}

.product-general-description {
    font-size: 20px;
    font-weight: 500;
    color: var(--color-abs-white);
}

.product-detail-info-header p {
    font-size: 20px;
    font-weight: 400;
    color: var(--color-grey-40);
}

.product-detail-info-price {
    font-size: 24px;
    font-weight: 500;
    color: var(--color-grey-80);
}

.product-detail-price {
    font-size: 24px;
    font-weight: 500;
    color: var(--color-grey-80);
}

.product-detail-info a {
    text-align: center;
    padding: 20px 25px;
    border-radius: 12px;
    border: 1px dashed var(--color-dark-25);
    background-color: var(--color-dark-12);
    color: var(--color-grey-70);
    width: 250px;
    font-size: 18px;
    font-weight: 500;
}

.product-detail-info a:hover {
    background-color: var(--color-brown-60);
    border: 1px solid var(--color-brown-60);
    color: var(--color-dark-06);
    cursor: pointer;
}

.product-detail-info-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products-similar-container {
    border: 2px dashed var(--color-dark-15);
    border-radius: 20px;
}
/* ===== PRODUCT DETAIL END ===== */